**/.dockerignore
**/.gitignore
**/.vscode
**/docker-compose*
**/Dockerfile*
**/node_modules
**/.DS_Store
**/.git
**/*-secrets.yaml
**/*-config.yaml
**/*-deployment.yaml
**/scripts
**/*.sql

README.md
